* {
  box-sizing: border-box;
}

:root {
  --primary: hsl(240, 38%, 20%);
  --secondary: hsl(240, 18%, 77%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.carousel {
  width: 357px;
  height: 600px;
}

.carousel-track--div {
  width: 100%;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}

.carousel-track {
  list-style: none;
  width: 95%;
  height: 300px;
  padding: 0;
}

.track-1 {
  background-image: url(./images/pattern-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: transform 250ms ease-in;
}

.track-2 {
  background-image: url(./images/pattern-curve.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 1em;
  transition: transform 250ms ease-in;
}

.track-2::before {
  content: "";
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  z-index: -1;
  top: 1.1em;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-items {
  position: absolute;
  top: 1em;
  left: 0;
  z-index: 10;
  display: none;
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel-image {
  width: 90%;
  padding: 1em;
  border-radius: 25px;
}

.carousel-active {
  display: inline-block;
}

.carousel-button {
  position: absolute;
  bottom: -0.7em;
  z-index: 11;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: rgb(197, 192, 192);
}

.button-1 {
  border-radius: 20px 0 0 20px;
  left: 38.5%;
}

.button-2 {
  border-radius: 0 20px 20px 0;
  right: 38.5%;
}

.testimonial {
  padding: 1em;
  color: var(--primary);
  opacity: 0.8;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.name {
  font-weight: 700;
  margin: 0;
  font-size: 1.1rem;
}

.designation {
  margin: 0;
  color: var(--secondary);
}

@media (min-width: 769px) {
  .container {
    align-items: center;
    margin: 0;
  }
  .carousel {
    display: flex;
    flex-direction: row-reverse;
    width: 780px;
    height: 350px;
  }

  .items-2 {
    top: 22%;
  }

  .track-2::before {
    top: 5em;
  }
  .button-1 {
    left: 20%;
  }

  .button-2 {
    right: 58%;
  }
}
